.background {
    -fx-background-color: #E1E4EA;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: rgb(59, 59, 59);
    -fx-opacity: 0.8;
}

.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
}

/* TEXT AREAS START */
.text-area .content{
    -fx-background-color: white;
    
}

.text-area {
    -fx-font-size: 12pt;
    -fx-text-fill: rgb(59, 59, 59);
    -fx-font-family: "Courier New";
}

#settingsTextArea {
    -fx-font-size: 10pt;
    -fx-font-family: "System";
}

/* TEXT AREAS END */

/* BUTTONS START */

.button {
    -fx-background-radius: 0;
    -fx-background-color: #2387a9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #66c1df;
    -fx-cursor: hand;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #E1E4EA;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
} 

/* TOGGLE BUTTON */
.toggle-button {
    -fx-background-color: #3A4556;
    -fx-text-fill: white;
}

.toggle-button:hover {
    -fx-cursor: hand;
}

/* BUTTONS END */


/* TAB PANE */
tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

/* Removed blue selected outline */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

  
.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:20px;
    -fx-tab-max-height:20px;
}
  
.tab {
    -fx-font-size: 11pt;
    -fx-background-color:#E1E4EA ;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: rgb(59, 59, 59);
    -fx-border-radius: 5 5 5 5;
    -fx-cursor: hand;
}
  
.tab:selected {
    -fx-background-color: #2387a9 ;
    -fx-font-size: 11pt;
    -fx-border-color: rgb(59, 59, 59);
    -fx-border-width: 1 1 1 1;
    -fx-font-family: "Segoe UI Semibold";
    -fx-outline: none;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:#E1E4EA;
    -fx-background-insets: 0;
    -fx-pref-height: 45px;  
}

/* TAB PANE END */

/* CHOICE BOX START */

.choice-box {
    -fx-background-color: white;
    -fx-mark-color: black;
    -fx-cursor: hand;
}

.choice-box > .label { -fx-text-fill: black; }

.choice-box .context-menu { 
    -fx-background-color: white;
}

.choice-box .menu-item > .label { -fx-text-fill: black; }

.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.choice-box .menu-item:focused { 
    -fx-background-color: #2387a9;
    -fx-cursor: hand;
}

/* CHOICE BOX END */